%h4.alert_info= t(".wellcom_back_admin")
%article.module.width_full
  %header
    %h3 Stats
  .module_content
    %article.stats_graph
      Here placed GA current stat
    %article.stats_overview
      .overview_today
        %p.overview_day= t(".today")
        %p.overview_count= @today_published_count
        %p.overview_type= t(".published")
        %p.overview_count= @today_views_count
        %p.overview_type= t(".views")
      .overview_previous
        %p.overview_day= t(".yesterday")
        %p.overview_count= @yesterday_published_count
        %p.overview_type= t(".published")
        %p.overview_count= @yesterday_views_count
        %p.overview_type= t(".views")
    .clear
/ end of stats article
%article.module.width_3_quarter
  %header
    %h3.tabs_involved Content Manager
    %ul.tabs
      %li= link_to t('.posts'), "#tab1"
      %li= link_to t('.comment'), "#tab2"
  .tab_container
    #tab1.tab_content
      %table.tablesorter{:cellspacing => "0"}
        %thead
          %tr
            %th
            %th= t('.entry_name')
            %th= t('.category')
            %th= t('.created_on')
            %th= t('.actions')
        %tbody
          %tr
            %td
              %input{:type => "checkbox"}/
            %td Lorem Ipsum Dolor Sit Amet
            %td Articles
            %td 5th April 2011
            %td
              %input{:src => "images/icn_edit.png", :title => "Edit", :type => "image"}
              %input{:src => "images/icn_trash.png", :title => "Trash", :type => "image"}/
    / end of #tab1
    #tab2.tab_content
      %table.tablesorter{:cellspacing => "0"}
        %thead
          %tr
            %th
            %th= t('.entry_name')
            %th= t('.category')
            %th= t('.created_on')
            %th= t('.actions')
        %tbody
          %tr
            %td
              %input{:type => "checkbox"}/
            %td Lorem Ipsum Dolor Sit Amet
            %td Mark Corrigan
            %td 5th April 2011
            %td
              %input{:src => "images/icn_edit.png", :title => "Edit", :type => "image"}
              %input{:src => "images/icn_trash.png", :title => "Trash", :type => "image"}/
    / end of #tab2
  / end of .tab_container
/ end of content manager article
.clear
