!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Authproviders"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:600", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
    %link(href="images/favicon.ico" rel="shortcut icon")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")
    :javascript
        $(document).ready(function() {
          equalHeight($(".box-height"));
        });
    /[if lt IE 9]
      <script type="text/javascript" src="js/html5.js"></script>
      <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    /[if lt IE 8]
      <div style=' clear: both; text-align:center; position: relative;'>
      <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
      <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
      </a>
      </div>
  %body#page1
    .glow
      .main
        .main-shadow
          / ==============================header=================================
          %header
            .row-top
              .main-1
                %h1
                  %a{:href => "#"}
                %ul.menu-top
                  %li= link_to t(".about"), about_pages_path
                  %li= link_to t(".help"), help_pages_path
                  %li= link_to t(".faq"), faq_pages_path
                  %li= link_to t(".contact"), contacts_pages_path
                  %li= link_to t(".sign_in"), sign_in_path
                .search
                  = form_tag search_path, method: :get, id: 'search-form' do
                    %fieldset
                      .rowElem
                        %input{:name => "text", :type => "text"}/
                        = submit_tag "", id: 'submit'
                        %a.search-submit{:onClick => "document.getElementById('search-form').submit()"}
                .clear
            .row-nav
              .glow-nav
                = render "shared/header_menu"
          / content
          %section#content
            = bootstrap_flash
            = yield
            .clear
        / footer
        = render "shared/footer_menu"
    :javascript
      $(function(){
      	// Option set as a global variable
      	$('#loopedSlider').loopedSlider({
      		autoStart: 0,
      		hoverPause: true,
      		containerClick:false
      	});
      });
