!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Authproviders"
    = csrf_meta_tags
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/favicon.ico" rel="shortcut icon")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")
  %body
    %header#header
      %hgroup
        %h1.site_title= link_to t('.dashboard'), admin_root_path
        %h2.section_title= t('.dashboard')
        .btn_view_site= link_to t('.index'), root_path
    / end of header bar

    %section#secondary_bar
      .user
        %p John Doe (#{link_to "3 Messages", "#"}) <a class="logout_user" href="#" title="Logout">Logout</a>
      .breadcrumbs_container
        %article.breadcrumbs
          %a{:href => "index.html"} Website Admin
          .breadcrumb_divider
          %a.current Dashboard
    / end of secondary bar

    %aside#sidebar.column
      /%form.quick_search
      /  %input{:onfocus => "if(!this._haschanged){this.value=''};this._haschanged=true;", :type => "text", :value => "Quick Search"}
      %hr/
      %h3= t('.content')
      %ul.toggle
        %li.icn_new_article
          = link_to t('.news'), admin_news_index_path
        %li.icn_new_article
          = link_to t('.articles'), admin_articles_path
        %li.icn_edit_article
          = link_to t('.interviews'), admin_interviews_path
        %li.icn_new_article
          = link_to t('.videos'), admin_videos_path
        %li.icn_edit_article
          = link_to t('.biographies'), admin_biographies_path
        %li.icn_edit_article
          = link_to t('.categories'), admin_categories_path
        %li.icn_edit_article
          = link_to t('.tags'), admin_tags_path
      %h3 Users
      %ul.toggle
        %li.icn_add_user
          = link_to t('.users'), admin_users_path
      %h3 Media
      %ul.toggle
        %li.icn_folder
          %a{:href => "#"} File Manager
        %li.icn_photo
          %a{:href => "#"} Gallery
        %li.icn_audio
          %a{:href => "#"} Audio
        %li.icn_video
          %a{:href => "#"} Video
      %h3 Admin
      %ul.toggle
        %li.icn_settings
          %a{:href => "#"} Options
        %li.icn_security
          %a{:href => "#"} Security
        %li.icn_jump_back
          %a{:href => "#"} Logout
      %footer
        %hr/
        %p
          %strong Copyright © 2011 Website Admin
        %p
          Theme by
          %a{:href => "http://www.medialoot.com"} MediaLoot
    / end of sidebar
    %section#main.column
      .span12= yield
    .spacer
